#header{
	background: #fff;
	border-bottom: 2px solid rgb(255,103,0);
}
.logo{
	height: 100px;
}
.logo a{
	display: block;
	width: 55px;
	height: 55px;
	background: rgb(255,103,0);
	border-radius: 2px;
	text-align: center;
	line-height: 55px;
	color: #fff;
	font-size: 30px;
	margin-top: 23px;
	margin-right: 50px;
	float: left;
}
.logo h2{
	float: left;
	font-size: 30px;
	color: #000;
	line-height: 100px;
}
.logo h2>span{
	color: #888;
	font-size: 12px;
	margin-left: 20px;
}
#main{
	background: rgb(245,245,245);
	min-height: 500px;
}
.inner{
	overflow: hidden;
}
.nothing{
	width: 360px;
	margin: 150px auto 0;
	display: none;
}
.nothing h3{
	color: rgb(176,176,176);
	font-size: 36px;
	font-weight: 600;
	line-height: 50px;
}
.nothing p{
	color: rgb(176,176,176);
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
}
.nothing a{
	display: inline-block;
	width: 168px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 14px;
	border: 1px solid rgb(255,103,0);
}
.nothing .login{
	background: rgb(255,103,0);
	color: #fff;
	margin-right: 10px;
}
.nothing .shopping{
	color: rgb(255,103,0);
}
.table{
	width: 100%;
	margin-top: 50px;
	display: none;
}
table{
	width: 100%;
	background: #fff;
}
/* .thead{
	border-bottom: 1px solid #999;
} */
th{
	height: 70px;
	line-height: 70px;
	font-size: 14px;
}
.th01{
	width: 210px;
}
.th02{
	width: 420px;
}
.th03{
	width: 198px;
}
.th04{
	width: 250px;
}
.th05{
	width: 120px;
}
.img img{
	height: 80px;
	display: block;
	/* margin-top: 10px; */
}
td{
	font-size: 16px;
	height: 120px;
}
td .add,td .cut{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}
td .add:hover,td .cut:hover{
	background: rgb(224,224,224);

}
td .xxnum{
	display: inline-block;
	width: 50px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}
.del{
	cursor: pointer;
}
.tijiao{
	width: 100%;
	height: 50px;
	background: #fff;
	margin: 30px 0;
}
.tijiao .jiesuan{
	float: right;
}
.tijiao .jiesuan>span{
	line-height: 50px;
	font-size: 14px;
	color: rgb(255,103,0);
}
.tijiao .jiesuan>span .heji{
	color: rgb(255,103,0);
	font-size: 24px;
}
.tijiao .jiesuan>a{
	display: inline-block;
	height: 50px;
	width: 200px;
	margin-left: 50px;
	background: rgb(255,103,0);
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
}